/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 24;
    padding: 0;
    background-color: #f4f4f4;
}

/* 头部样式 */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* 导航栏样式 */
nav {
    background: #444;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

/* 容器样式 */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* 个人简介样式 */
.profile {
    flex: 1;
    max-width: 300px;
    text-align: center;
    margin-right: 20px;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-info {
    margin-top: 10px;
}

.profile-info h1 {
    margin: 10px 0 0 0;
}

.profile-info p {
    margin: 5px 0;
}

/* 详细信息样式 */
.details {
    flex: 2;
    max-width: 600px;
}

.section {
    margin: 24px 0; /* 设置页边距 */
    padding: 10px 20px; /* 设置内边距 */
}

.section h2 {
    font-size: 24px;
    margin: 24px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section li {
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
}

.section .title {
    flex: 1;
    font-weight: bold;
}

.section .content {
    flex: 3;
}

.divider {
    border-top: 1px solid #ccc;
    margin: 24px 0; /* 设置页边距 */
}

/* 页脚样式 */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
