/* 全局样式 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

/* 头部样式 */
header {
    background-color: #00456d;
    color: #fff;
    padding: 20px 10px; /* 调整内边距 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile-name h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

/* 导航栏样式 */
nav {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    align-items: center;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
}

/* 容器样式 */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

/* profile-wrapper 样式 */
.profile-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px; /* 可选，增加圆角 */
    background-color: #95d1ff;
}

.profile {
    display: flex;
    align-items: center;
    width: 100%;
}

.profile-info {
    text-align: left; /* 左对齐 */
    margin-left: 20px;
    margin-right: 20px; /* 右边距 */
    flex: 1;
}

.profile-info h1 {
    margin: 10px 0;
    font-size: 28px;
}

.profile-info p {
    margin: 5px 0;
    color: #333;
}

.social-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.social-icons .share-text {
    font-size: 13px;
    margin-bottom: 5px;
    color: #333;
}

.social-icons a {
    color: #3b5998;
    font-size: 24px;
    margin: 5px 0;
    text-decoration: none;
}

.social-icons a:hover {
    color: #2d4373;
}

.profile-img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-left: 20px; /* 左边距 */
}

.additional-info p {
    color: #333;
    text-align: justify;
}

/* 详细信息样式 */
.details {
    padding: 20px;
    background-color: #fff;
    color: #333; /* 设置为黑色字体 */
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin: 20px 0;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
}

.section .right-aligned {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: none;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section li {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.section .title {
    flex-basis: 100%;
    font-weight: bold;
    margin-bottom: 5px;
}

.section .content {
    flex-basis: 100%;
    color: #666;
    margin-bottom: 10px;
}

.divider {
    border-top: 1px solid #ccc;
    margin: 40px 0;
}

/* 页脚样式 */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

#news img {
    width: 50%; /* 根据需要调整图片宽度 */
    height: 50%; /* 保持图片比例 */
    border-radius: 10px; /* 可选，增加圆角 */
    display: block;
    margin: auto;
}

.news-content {
    display: flex;
    align-items: center;
}

.news-description {
    flex: 1;
    margin-right: 20px;
    color: #333;
}

#skills img {
    width: 30%; /* 根据需要调整图片宽度 */
    height: 30%; /* 保持图片比例 */
    border-radius: 10px; /* 可选，增加圆角 */
    display: block;
    margin: auto;
}

.skills-content {
    display: flex;
    align-items: flex-start; /* 确保图片和文本的顶部对齐 */
    margin-top: 20px;
}

/* 控制文本部分的样式 */
.skills-description {
    flex: 1; /* 让文本部分占据剩余的可用空间 */
    margin-right: 20px; /* 给文本和图片之间留出空间 */
    color: #333;
}

.poster-img {
    width: 30%; /* 根据需要调整图片宽度 */
    height: 30%; /* 保持图片比例 */
    border-radius: 10px; /* 可选，增加圆角 */
    display: block;
    margin: auto;
}

/* 容器样式 */
.education-content {
    display: flex;
    align-items: flex-start; /* 调整垂直对齐方式 */
}

.education-content ul {
    flex: 1; /* 确保 ul 元素占据剩余空间 */
}

.education-img {
    width: 30%; /* 设置图片宽度 */
    height: 30%; /* 保持图片比例 */
    margin-left: 20px; /* 添加左边距 */
}

.video {
    max-width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.video video {
    width: 50%;
    height: 50%;
}

.activities-content {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.activities-description {
    flex: 1;
    margin-right: 20px;
    color: #333;
    text-align: left;
}

.activities-img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

#contact ul li {
    margin-bottom: 5px; /* 调整为更小的下边距，默认可能是更大的 */
    line-height: 1.2; /* 设置较小的行高，让内容更加紧凑 */
}

.content-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 20px;
}

.content {
    flex: 1; /* 让内容占据剩余空间 */
    margin-right: 20px; /* 给内容和视频之间留出空间 */
}

.research-video {
    width: 300px; /* 视频宽度，根据需求调整 */
    height: auto; /* 让高度根据宽度自动调整 */
    border-radius: 10px; /* 可选，给视频增加圆角 */
}